@media screen and (max-width: 800px) {
   /* Font Linking */ 
    /* Font Linking */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding-top: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Poppins', sans-serif;
    color: #0C0C0C;
}

/* Normal Classes */

.thin-fonts {
    font-weight: 100;
}


/* Nav Bar Container */

.nav-container {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 3px 3px 5px #e4e4e4;
}

.logo-left {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.logo-left a {
    /* margin: auto 60px; */
    display: flex;
    align-items: center;
    text-align: center;
}

.nav-menu-right {
    display: none;

}

.handburger-menu {
    display: none;
}


/* cursor */

#home {
    cursor: pointer;
}

#aboutme {
    cursor: pointer;
}

#design {
    cursor: pointer;
}

#contact {
    cursor: pointer;
}


/* HomePage Area */

.homepage-background {
    height: 100vh;
    display: flex;
    background: url(../img/bg-line.png) no-repeat center center/cover;
    box-shadow: #e4e4e4 5px 5px 10px;
}

.welcome-content {
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
}

.welcom-text h1 {
    font-size: 5rem;
    text-align: center;
}

.welcom-text p {
    font-size: 2rem;
    text-align: center;

}

.my-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}

.my-profile h3 {
    margin-bottom: 10px;
    font-size: 1.6rem;
}

.social-media-icons a {
    text-decoration: none;
    color: #0C0C0C;
    margin-right: 11px;
}

.image-homepage {

    display: none;
}

.image-homepage img {
    width: 70%;
}



/* About Me  */

.about-me {
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
}

.about-me h2 {
    font-size: 48px;
    margin: 60px 0px;
    text-align: center;
}

.about-me-l-r {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.about-me-left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-left img {
    border-radius: 20px;
    box-shadow: #a8a8a8 0px 0px 10px;
}

.about-me-right {
    width: 100%;
    display: flex;
    margin: 40px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 9999;

}

.about-me-right h3 {
    font-size: 2.5rem;
    margin-bottom: 25px;
}

.about-me-right p{
    font-size: 1.4rem;
}


/* Design Section  */

.design-section {
    background-color: #0C0C0C;
    height: 2400px;
    display: flex;
    flex-direction: column;
    /* padding-bottom: 50px; */
    justify-content: space-evenly;
}

.design-section h2 {
    font-size: 48px;
    text-align: center;
    color: #e4e4e4;
    padding: 40px 0px;
}

.design-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sec {
    width: 300px;
    height: 300px;
    background-color: #000;
    border-radius: 25px;
    margin: 25px 25px;
}

.sec:hover {
    transform: scale(1.05);
    transition: .3s ease-in-out;
    box-shadow: #030303 0px 0px 10px 15px;
}

.sec img {
    border-radius: 25px;
}



/* Contact Container  */

.contact-container {
    /* height: 1000px; */
    /* padding-bottom: 80px; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* align-items: center; */
    flex-direction: column;
    text-align: center;
}

.contact-container h2 {
    font-size: 48px;
    margin-top: 80px;
    text-align: center;
}

.contact-container h3 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 400;
    line-height: 2.5rem;
}

.bold {
    font-weight: 700;
}

.contact-below {
    font-size: 1rem;
}

.contact-form-one {
    width: 100%;
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form-call {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.direct-call {
    width: 350px;
    height: 100px;
    background-color: #F3F3F3;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.direct-call h4{
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-left: 30px;
}

.direct-call a{
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.direct-call a:hover{
    transform: translate(5px, 0px);
    transition: .3s ease-in-out;
}

/* Email */

.contact-form-email {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.direct-email {
    width: 350px;
    height: 100px;
    background-color: #F3F3F3;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.direct-email h4{
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-left: 30px;
}

.direct-email a{
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.direct-email a:hover{
    transform: translate(5px, 0px);
    transition: .3s ease-in-out;
}


/* Footer Section  */

.footer-container {
    width: 100%;
    /* height: 350px; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #0C0C0C;
}

.footer-l {
    /* width: 50%; */
    margin-left: 60px;
    display: flex;
    color: #e4e4e4;
    font-size: 1.1rem;
    font-weight: 200;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: column;
}

.footer-design {
    margin-left: 10%;
    margin-top: 10%;
    width: 40%;
}

.footer-design ul {
    margin: 0;
    padding: 0;
}

.footer-design ul li {
    line-height: 3rem;
    list-style: none;
}

.footer-design ul li a {
    text-decoration: none;
    color: #e4e4e4;
}

.footer-design ul li a:hover {
    text-decoration: underline;
}

.footer-about {
    margin-left: 3%;
    margin-top: 40px;
    margin-bottom: 60px;
    
}

.footer-about h4 {
    margin-bottom: 10px;
}

.footer-about p {
    margin-right: 35%;

}

.footer-r {
    width: 50%;
    background: url(../img/footer-img.png) no-repeat center center/cover;
}

/* Copyright Footer section */

.copyright-footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #e4e4e4;
    font-size: 0.7rem;
}



/* Scroll Bar  */

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b5b5b5 ;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e4e4e4;
  }




  .top-div {
      height: 80px;
  }




/* Design Page */


/* UI/UX Design Section  */

.uiux-design {
    height: 600px;
    width: 100%;
    display: flex;
}

.left-image-container {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.music-player {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-image-container img {
    width: 100%;
}

.right-text-container {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-text-content {
    margin: 20%;
}

.click-link {
    margin: 30px 0px; 
}

.click-link a {
    text-decoration: none;
    color: #fff ;
    padding: 10px 10px;
    background-color: #454545;
    border-radius: 10px;
}

.click-link a:hover {
    text-decoration: none;
    color: #fff ;
    padding: 10px 10px;
    background-color: #454545;
    border-radius: 10px;
}


/* Web Design  */

.web-design {
    height: 600px;
    width: 100%;
    display: flex;
}

.right-image-container {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.web-design-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    height: 100%;
    width: 100%;
}


.web-design-img img {
    width: 100%;
}

.left-text-container {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-text-content {
    margin: 20%;
}

.click-link {
    margin: 30px 0px; 
}

.click-link a {
    text-decoration: none;
    color: #fff ;
    padding: 10px 10px;
    background-color: #454545;
    border-radius: 10px;
}

.click-link a:hover {
    text-decoration: none;
    color: #fff ;
    padding: 10px 10px;
    background-color: #454545;
    border-radius: 10px;
}


}